{% extends 'layout.html' %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/">ვაკანსიები</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">სისტემიდან გამოსვლა</a>
                </li>

              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('salaryRate') }}">განსაზღვრე ხელფასი</a>
            </li>
       <li class="nav-item">
                  <a class="nav-link" href="#">{{ current_user }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">სისტემაში შესვლა</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('registration') }}">რეგისრაცია</a>
            </li>

          {% endif %}
      </ul>
    </div>
  </nav>
{% for post in posts %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ავტორი: {{ post.author.username }}</h5>
              <p class="card-text">კომპანია: {{ post.company_name }}.</p>
              <p class="card-text">ვაკანსია: {{ post.company_jobtittle }}.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock content %}
